<!-- Inicio de header -->
<div th:fragment="header">
	<div class="wrapper">
        <header class="header" id="header">
            <span class="navbar" id="btn-menu"><i class="fa-solid fa-bars"></i></span>
            <a th:href="@{/}" class="logo">
                <img src="/images/logo-header.png" width="200px" alt="logo Fontalibros">
            </a>
            <form class="form" method="post" th:action="@{/buscar}">
                <input class="input" name="search" type="text" placeholder="Buscar por título o autor">
                <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul class="account account-modal" id="account">
                <li><a th:href="@{/usuario/login}" class="login" id="login-btn">Iniciar sesión</a></li>
                <li><a th:href="@{/usuario/registro}" class="register btn" id="register-btn">Registrarse</a></li>
            </ul>
            <a th:href="@{/getCart}" class="btn-shopping-cart" id="btn-shopping-cart"><i class="fa-solid fa-cart-shopping"></i></a>
        
        </header>
              
        <nav class="main-nav" id="main-nav">
            <ul class="menu" id="menu">
                <span class="navbar btn-close" id="btn-close"><i class="fa-solid fa-xmark"></i></span>
                <li class="menu-item"><a th:href="@{/}" class="menu-link" id="home">Home</a></li>
                <li class="menu-item"><a th:href="@{/comoFunciona}" class="menu-link">Cómo funciona</a></li>
                <li class="menu-item container-submenu"><a th:href="@{/libro}" class="menu-link submenu-btn">Libros</a></li>
                <li class="menu-item"><a th:href="@{/contacto}" class="menu-link">Contacto</a></li>
                <!-- <li class="menu-item"><a href="/pages/venderLibro.html" class="menu-link" id="sell-book"><i class="fa-solid fa-book"></i> Vende tus libros</a></li> -->
                <!-- <ul class="account-modal" id="account">
                    <li><a href="#">Iniciar sesión</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul> -->
            </ul>
        </nav>       
    </div>
</div>
<!-- Fin de header -->
<div th:fragment="footer">
		 <footer class="footer" id="footer">
	        <div class="footer-container">
	            <div class="container">
	                <!-- <figure class="white-logo">
	                <img src="/images/Logo_blanco_footer.png" alt="Logo Fontalibros blanco">
	                </figure> -->
	                <h4>Ayuda</h4>
	                <ul class="info-list" id="help-list">
	                    <li><a href="comoFunciona.html" class="item-footer">Cómo comprar</a></li>
	                    <li><a href="comoFunciona.html" class="item-footer">Cómo vender</a></li>
	                    <li><a href="#" class="item-footer">Preguntas frecuentes</a></li>
	                </ul>
	            </div>
	                
	            <div class="container">
	                <h4>Más información</h4>
	                <ul class="info-list" id="help-list">
	                    <li><a href="contacto.html" class="item-footer">Contacto</a></li>
	                    <li><a href="#" class="item-footer">Condiciones de uso</a></li>
	                    <li><a href="#" class="item-footer">Diseñado y construido por María Castro</a></li>
	                </ul>
	            </div>
	    
	            <div class="container">
	                <div class="social-media">
	                    <a href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
	                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
	                    <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a>
	                </div>
	            </div>
	        </div>
	        <p> &copy; Copyright 2023 | Todos los derechos reservados</p>
    	</footer>
</div>

<!-- Inicio de footer-->
 
<!-- Fin de footer--> 
 