<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fontalibros</title>
    <!-- Generic styles -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- style header -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <!-- style main -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- style forms -->
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <!-- style books -->
    <link rel="stylesheet" th:href="@{/css/books.css}">
    <!-- style cart -->
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <!-- style footer -->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon1.png}" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Inicio de header -->
    	<div th:replace="/administrador/template_admin.html :: header"></div>
    	<!-- <div th:include="administrador/template_admin.html::header"></div> -->
    <!-- Fin de header -->

    <main class="main" id="main">
        <!-- Inicio de section introduccion -->
        <section class="home" id="home">
            <div class="intro">
                <div class="intro-text">
                    <h1>Compra o vende <span class="span-word">libros</span> de segunda mano</h1>
                    <p class="para">Dale la oportunidad a un libro de segunda mano o convierte en dinero aquellos que ya no necesites.</p>
                    <p>¡Te conectamos con ellos!</p>
                    <a class="btn button" href="/pages/comoFunciona.html">Leer más</a>
                </div>
                <figure class="intro-img">
                    <img src="/images/Reading-book.svg" alt="Leyendo libro">
                </figure>
            </div>
            
            <!-- Inicio de section ultimos añadidos -->
            <div  class="last-added" id="last-added">
                <h2>Últimos añadidos</h2>
                <div class="last-book-container" id="last-book-container" >
                    <div class="card" id="card" th:each="libro: ${libros}">
                        <figure class="img-book">
                            <img src="https://picsum.photos/400/310" alt="libro">
                        </figure>
                        <h3 class="book-title" id="book-title" th:text="${libro.titulo}"></h3>
                        <p class="author" id="author" th:text="${libro.autor}"></p>
                        <p class="status" id="status" th:text="${libro.calidad}"></p>
                        <span class="span-word price" id="price" th:text="${libro.precio}"></span>
                        <button class="btn-add-to-cart btn" id="btn-add-to-car">Ver libro</button>
                    </div>           
                </div>
            </div>
            <!-- Fin de section ultimos añadidos -->

        </section>
        <!-- Fin de section introduccion-->
    </main>

     <!-- Inicio de footer-->
     	<div th:replace="/administrador/template_admin.html :: footer"></div>
     	<!-- <div th:include="administrador/template_admin.html::footer"></div> -->
    <!-- Fin de footer--> 
    
    <!-- Scripts -->
    <script defer th:src="@{/Scripst/menu.js}"></script>
    <script type="module" th:src="@{/Scripst/cart.js}"></script>
    <script defer th:src="@{/Scripst/main.js}"></script> 
</body>
</html>