    <!-- Inicio de header -->
    <div th:fragment="header">
		<div class="wrapper">
	        <header class="header" id="header">
	            <span class="navbar" id="btn-menu"><i class="fa-solid fa-bars"></i></span>
	            
	            <!-- Redireccionando desde el logo hacia el controlador administrador -->
	            <a th:href="@{/administrador}" class="logo">
	                <img src="/images/logo-header.png" width="200px" alt="logo Fontalibros">
	            </a>
	            <form class="form" action="">
	                <input class="input" name="search" type="text" placeholder="Buscar por título o autor">
	                <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
	            </form>
	            <ul class="account account-modal" id="account">
	                <li><a href="#" class="login" id="login-btn"></a></li>
	                <div class="dropdown">
		                <button onclick="myFunction()" class="btn dropbtn">Admin</button>
		                <div id="myDropdown" class="dropdown-content">
						<!-- Redireccionando al controlador Libros -->
		                  <a th:href="@{/libros}">Libros</a>
		                  <a th:href="@{/administrador/ordenes}">Órdenes</a>
		                  <a th:href="@{/administrador/usuarios}">Usuarios</a>
		                  <a th:href="@{/usuario/cerrar}">Salir</a>
		                </div>
	             	</div>
            	</ul>
	            
	        </header>
    	</div>
	</div>
    <!-- Fin de header -->


     <!-- Inicio de footer-->
     <div th:fragment="footer">
		 <footer class="footer" id="footer">
	        <div class="footer-container">
	            <div class="container">
	                <!-- <figure class="white-logo">
	                <img src="/images/Logo_blanco_footer.png" alt="Logo Fontalibros blanco">
	                </figure> -->
	                <h4>Ayuda</h4>
	                <ul class="info-list" id="help-list">
	                    <li><a href="comoFunciona.html" class="item-footer">Cómo comprar</a></li>
	                    <li><a href="comoFunciona.html" class="item-footer">Cómo vender</a></li>
	                    <li><a href="#" class="item-footer">Preguntas frecuentes</a></li>
	                </ul>
	            </div>
	                
	            <div class="container">
	                <h4>Más información</h4>
	                <ul class="info-list" id="help-list">
	                    <li><a href="contacto.html" class="item-footer">Contacto</a></li>
	                    <li><a href="#" class="item-footer">Condiciones de uso</a></li>
	                    <li><a href="#" class="item-footer">Diseñado y construido por María Castro</a></li>
	                </ul>
	            </div>
	    
	            <div class="container">
	                <div class="social-media">
	                    <a href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
	                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
	                    <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a>
	                </div>
	            </div>
	        </div>
	        <p> &copy; Copyright 2023 | Todos los derechos reservados</p>
    	</footer>
	 </div>
    <!-- Fin de footer--> 
    
   