<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fontalibros</title>
    <!-- Generic styles -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- style header -->
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <!-- style main -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- style forms -->
    <link rel="stylesheet" th:href="@{/css/forms.css}">
    <!-- style books -->
    <link rel="stylesheet" th:href="@{/css/books.css}">
    <!-- style cart -->
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <!-- style footer -->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon1.png}" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Inicio de header -->
    	<div th:replace="/administrador/template_admin.html :: header"></div>
    	<!-- <div th:include="/administrador/template_admin.html::header"></div> -->
    <!-- Fin de header -->

    <main class="main" id="main">
        <section class="vender-libro">
            <h3>Publicar | <span class="span-word">libro</span> </h3>
	        <form class="form-sell-book" th:action="@{/libros/save}" method="post" enctype="multipart/form-data">
			    <div>
			        <label for="titulo">Título:</label>
			        <input type="text" name="titulo" id="titulo" class="inputex" required>
			        <label for="autor">Autor:</label>
			        <input type="text" name="autor" id="autor" class="inputex" required>
			        <label for="editorial">Editorial:</label>
			        <input type="text" name="editorial" id="editorial" class="inputex" required>
			        <label for="descripcion">Descripción:</label>
			        <textarea name="descripcion" id="descripcion" placeholder="Menciona detalles del libro como su estado de conservación etc..." class="inputex" required></textarea>
			        <label for="isbn">Código ISBN:</label>
			        <input type="text" name="isbn" id="isbn" class="inputex">
			        <label for="imagenes">Imágenes:</label>
                        <div class="box">
                            <div class="input-box">
                                <input type="file" name="imagenes" id="imagenes" accept="image/png, image/jpeg" hidden required>
                                <label for="imagenes" class="subir-label">
                                    <span><i class="fa-solid fa-camera"></i></span>
                                    <p>Sube tus fotos aquí</p>
                                </label>
                            </div>
                            <!-- Mostrar archivos cargados -->
                            <div id="container-file">
                                <p class="uploaded">Imágenes cargadas</p>
                                <!-- <div class="show-file-box">
                                    <div class="left-file-box">
                                        <span class="file-type">png</span>
                                        <p>fontalibros.png</p>
                                    </div>
                                    <div class="right-file-box">
                                        <span>&#215;</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
			        <label fo="calidad">Estado del libro:</label>		        
			        <select class="inputex" name="calidad" id="calidad">
			            <option value="seleccion">Selecciona un estado</option>
			            <option value="MUY_MALO">Muy malo</option>
			            <option value="MALO">Malo</option>
			            <option value="NORMAL">Normal</option>
			            <option value="BUENO">bueno</option>
			            <option value="MUY_BUENO">Muy bueno</option>
			        </select>
			        
			        <label for="precio">Precio:</label>
			        <input type="number" name="precio" id="precio" class="inputex" required>
			        <button type="submit" class="btn">Guardar</button>
			    </div>
			</form>
        </section>
    </main>

    <!-- Inicio de footer-->
    	<div th:replace="/administrador/template_admin.html :: footer"></div>
    <!-- <div th:include="/administrador/template_admin.html::footer"></div> -->
    <!-- Fin de footer--> 
    
    <!-- Scripts -->
    <script defer th:src="@{/Scripst/menu.js}"></script>
    <script defer th:src="@{/Scripst/form.js}"></script>
    <script type="module" th:src="@{/Scripst/cart.js}"></script>
    <script defer th:src="@{/Scripst/main.js}"></script> 
</body>