/* Formulario de contacto */
.contact {
    width: 100%;
    min-height: 100vh;
}

.form-contact {
    width: 100%;
    padding: 3em;
    border-radius: 0.3em;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inputex{
    width: 100%;
    padding: .7em;
    margin: .8em 0;
    border: none;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

label {
    font-size: 14px;
}

/* Formulario vender libro */
.vender-libro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-sell-book {
    width: 100%;
    padding: 3em;
    border-radius: 0.3em;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* inicio caja subir imágenes */
.box {
    width: 100%;
    padding: 1em;
    border-radius: 0.3em;
    margin: 1em 0;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.subir-label {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--darkgray);
    cursor: pointer;
    color: var(--darkgray);
}

.subir-label span {
    font-size: 2em;
}

.uploaded {
    margin: 1em 0;
    font-weight: bolder;
}

.show-file-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em;
    background-color: var(--chalkWhite);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.show-file-box  .left-file-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.left-file-box p {
    font-size: 14px;
}

.file-type {
    background-color: var(--lightBlue);
    color: var(--white);
    padding: .4em .6em;
    border-radius: .3em;
    text-transform: uppercase;
}

.right-file-box span {
    background-color: var(--lightBlue);
    color: var(--white);
    width: 1em;
    height: 1em;
    font-size: 1.5em; 
    text-align: center;
    line-height: 1em;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
/* fin caja subir imágenes */

/* inicio Formulario inicio de sesión */
.container-form-login {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0; 
    background-color: rgba(51,51,51,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container-form {
    background-color: rgba(51,51,51,0.5);
}

.container-form-signup {
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container-login {
    width: 330px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    border-radius: .5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-container-login h3 {
    text-align: center;
    margin-bottom: 1.5em;
}

.form-close {
    align-self: flex-end;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--black);
}

.forms .fa-user {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: .5em;
    color: var(--lightBlue);
}

.input-password {
   position: relative;
   margin: .8em 0 2em 0;
} 

.input-password input {
    width: 100%;
    padding: .7em;
    border: none;
    outline: none;
    border-radius: 0.3em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* inicio Estilos ojo contraseña */
.password {
    position: absolute;
    right: .8em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password:hover {
    color: var(--darkgray);
    transition: all 0.3s;
}
/* fin Estilos ojo contraseña */

.option-user {
    margin: 1em 0;
    text-align: center;
    font-size: 14px;
}

.option-user a {
    color: var(--black);
}

.option-register {
    margin: 1em 0;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--ligthgray);
}

.option-register a {
    color: var(--lightBlue);
}

.option-register a:hover {
    color: var(--darkgray);
    transition: all 0.3s;
}

.agree {
    font-size: 12px;
    margin-right: .5em;
    margin-bottom: 2em;
}
/* Fin Formulario inicio de sesión */


@media (min-width: 950px) {
/* Formulario de contacto */
    .contact {
        display: grid;
        place-content: center;
    }

    .form-contact {
        width: 100%;
        max-width: 550px;
    } 
/* Fin formulario de contacto */

/* Formulario vender libro */
    .form-sell-book {
        width: 100%;
        max-width: 550px;
    }

/* inicio Formulario inicio de sesión */
.form-container {
    width: 400px;
}

}
